In [1]:
import pandas as pd 
import numpy as np 
#DELETED FIRST FOWS INFO FROM CSV
#Pennsylvania
#Individual Income Tax REturns

In [2]:
#create list of zip codes in Philadelphia County (from https://www.zillow.com/browse/homes/pa/philadelphia-county/)
zip_file = 'zip_codes.txt'
read_zips = open(zip_file, 'r')
zip_list = [line.rstrip('\n') for line in read_zips.readlines()]

In [3]:
df = pd.read_csv('pa_total_number_returns.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10962 entries, 0 to 10961
Data columns (total 3 columns):
ZIP
code [1]                     9593 non-null object
Size of adjusted gross income    8209 non-null object
Number of returns                9577 non-null object
dtypes: object(3)
memory usage: 257.0+ KB

In [5]:
df = df.drop([0,1])
df = df.rename(columns={'ZIP\ncode [1]': "zip_code"})

In [6]:
df.head(20)

   zip_code Size of adjusted gross income Number of returns
2     00000                         Total         6,128,720
3     00000              $1 under $25,000           2233990
4     00000         $25,000 under $50,000           1428240
5     00000         $50,000 under $75,000            864410
6     00000        $75,000 under $100,000            573560
7     00000       $100,000 under $200,000            779480
8     00000              $200,000 or more            249040
9       NaN                           NaN               NaN
10    15001                           NaN            16,460
11    15001              $1 under $25,000              6180
12    15001         $25,000 under $50,000              3880
13    15001         $50,000 under $75,000              2400
14    15001        $75,000 under $100,000              1600
15    15001       $100,000 under $200,000              2090
16    15001              $200,000 or more               310
17      NaN                           NaN               NaN
18    15003                           NaN             5,740
19    15003              $1 under $25,000              2410
20    15003         $25,000 under $50,000              1620
21    15003         $50,000 under $75,000               880

In [7]:

#df['Number of returns'] = df['Number of returns'].apply(lambda x: x.replace(',','') if type(x)==str)
df['Number of returns'] = df['Number of returns'].str.replace(',', '')
df['Number of returns'] = df['Number of returns'].str.replace('*', '')
df['Number of returns'] = df['Number of returns'].str.replace(' ', '')


df['Number of returns'] = df['Number of returns'].astype(float)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10960 entries, 2 to 10961
Data columns (total 3 columns):
zip_code                         9593 non-null object
Size of adjusted gross income    8209 non-null object
Number of returns                9576 non-null float64
dtypes: float64(1), object(2)
memory usage: 342.5+ KB

In [9]:
df = df.reset_index(drop=True)
'''
table = pivot_table(df, values='D', index=['A', 'B'],
...                     columns=['C'], aggfunc=np.sum)
'''

"\ntable = pivot_table(df, values='D', index=['A', 'B'],\n...                     columns=['C'], aggfunc=np.sum)\n"

In [10]:
pivot = pd.pivot_table(df, values='Number of returns', index='zip_code', columns = 'Size of adjusted gross income')

In [11]:
pivot

Size of adjusted gross income,"$1 under $25,000","$100,000 under $200,000","$200,000 or more","$25,000 under $50,000","$50,000 under $75,000","$75,000 under $100,000",Total
zip_code,,,,,,,
00000,2233990.0,779480.0,249040.0,1428240.0,864410.0,573560.0,6128720.0
15001,6180.0,2090.0,310.0,3880.0,2400.0,1600.0,NaN
15003,2410.0,370.0,40.0,1620.0,880.0,420.0,NaN
15005,1600.0,820.0,210.0,1100.0,710.0,580.0,NaN
15007,70.0,30.0,0.0,50.0,50.0,0.0,NaN
15009,2660.0,1300.0,360.0,1460.0,1100.0,870.0,NaN
15010,5120.0,1580.0,300.0,3190.0,1890.0,1320.0,NaN
15012,2870.0,1100.0,190.0,1750.0,1190.0,830.0,NaN
15014,690.0,80.0,0.0,540.0,240.0,110.0,NaN
15015,170.0,180.0,130.0,70.0,60.0,70.0,NaN
15017,2450.0,1360.0,530.0,1920.0,1280.0,930.0,NaN
15018,170.0,30.0,0.0,130.0,60.0,40.0,NaN
15019,260.0,110.0,0.0,180.0,140.0,90.0,NaN
15021,1260.0,440.0,70.0,840.0,600.0,390.0,NaN
15022,2040.0,490.0,70.0,1270.0,730.0,450.0,NaN
15024,1490.0,620.0,190.0,1060.0,680.0,480.0,NaN
15025,2950.0,1180.0,360.0,1760.0,1060.0,720.0,NaN
15026,580.0,350.0,70.0,390.0,260.0,200.0,NaN
15027,450.0,120.0,0.0,290.0,190.0,130.0,NaN
15030,240.0,30.0,0.0,150.0,80.0,30.0,NaN
15031,110.0,0.0,0.0,80.0,40.0,50.0,NaN
15033,1020.0,110.0,0.0,590.0,260.0,150.0,NaN
15034,370.0,50.0,0.0,270.0,130.0,80.0,NaN
15035,470.0,50.0,0.0,350.0,170.0,90.0,NaN
15037,1910.0,770.0,100.0,1350.0,840.0,640.0,NaN
15042,1450.0,690.0,100.0,960.0,670.0,520.0,NaN
15043,350.0,160.0,20.0,230.0,170.0,120.0,NaN
15044,4170.0,3280.0,1990.0,2000.0,1640.0,1470.0,NaN
15045,960.0,90.0,0.0,590.0,290.0,150.0,NaN
15046,450.0,180.0,30.0,320.0,200.0,150.0,NaN
...,...,...,...,...,...,...,...
19520,900.0,590.0,170.0,560.0,420.0,320.0,NaN
19522,2290.0,1180.0,250.0,1580.0,1130.0,880.0,NaN
19525,2040.0,1990.0,440.0,1130.0,850.0,870.0,NaN
19526,2010.0,650.0,70.0,1420.0,950.0,650.0,NaN
19529,460.0,250.0,60.0,310.0,240.0,160.0,NaN
19530,1740.0,790.0,170.0,1150.0,790.0,610.0,NaN
19533,990.0,550.0,110.0,690.0,530.0,360.0,NaN
19534,310.0,160.0,30.0,240.0,150.0,120.0,NaN
19539,740.0,410.0,60.0,480.0,380.0,270.0,NaN
19540,1860.0,960.0,330.0,1270.0,940.0,660.0,NaN
19541,680.0,400.0,60.0,430.0,350.0,300.0,NaN
19543,850.0,650.0,160.0,480.0,420.0,310.0,NaN
19547,670.0,390.0,90.0,460.0,380.0,270.0,NaN
19551,860.0,350.0,70.0,590.0,410.0,280.0,NaN
19555,650.0,190.0,30.0,470.0,340.0,220.0,NaN
19560,1640.0,350.0,40.0,1280.0,810.0,440.0,NaN
19562,480.0,150.0,0.0,310.0,190.0,150.0,NaN
19565,1420.0,710.0,130.0,1010.0,670.0,490.0,NaN
19567,900.0,290.0,30.0,730.0,450.0,310.0,NaN
19601,8280.0,190.0,40.0,4180.0,1040.0,340.0,NaN
19602,4490.0,90.0,0.0,1980.0,390.0,100.0,NaN
19604,6530.0,210.0,40.0,3700.0,1000.0,280.0,NaN
19605,3780.0,1240.0,140.0,2750.0,1690.0,1120.0,NaN
19606,5730.0,2590.0,450.0,3940.0,2710.0,1840.0,NaN
19607,3990.0,1320.0,280.0,2990.0,2050.0,1200.0,NaN
19608,3520.0,2150.0,730.0,2290.0,1650.0,1270.0,NaN
19609,1780.0,640.0,60.0,1450.0,910.0,630.0,NaN
19610,2280.0,1460.0,850.0,1490.0,1190.0,840.0,NaN
19611,2140.0,210.0,40.0,1490.0,640.0,250.0,NaN
99999,33890.0,7840.0,2060.0,22690.0,13260.0,7830.0,NaN

In [12]:
pivot.loc['15001']

Size of adjusted gross income
$1 under $25,000           6180.0
$100,000 under $200,000    2090.0
$200,000 or more            310.0
$25,000 under $50,000      3880.0
$50,000 under $75,000      2400.0
$75,000 under $100,000     1600.0
Total                         NaN
Name: 15001, dtype: float64